<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

   <!-- 关闭默认扫描策略,只扫描controller -->
    <context:component-scan base-package="com.fmi110" annotation-config="true" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <mvc:annotation-driven/>
    <!--开启静态资源处理-->
    <mvc:default-servlet-handler/>

    <!--使用 cglib 代理-->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="10"/>
        <property name="prefix" value="/WEB-INF/views"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--限定单个文件的大小  单位字节-->
        <property name="maxUploadSizePerFile">
            <value>1024000000</value>
        </property>
        <!--请求的编码格式 , 需要与页面的编码保持一致 , 以确保正确读取表单的内容-->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>

    <!--启动 shiro 控制器注解拦截方式-->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!--shiro 生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- aop 方法级别权限的检查  这个可以不要的吧???-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">-->
        <!--<property name="proxyTargetClass" value="true"/>-->
    <!--</bean>-->
</beans>